/* Menu */
.pw-design .power-item, .power-item.pw-design {
    list-style-type: none;
}

.pw-design .power-item, .pw-design .power-list, .pw-design.power-item, .pw-design.power-list {
    padding:0px;
    margin:0px;
}

.power-menu.pw-horizontal .power-item, .pw-horizontal > * {
    display: inline;
}

.pw-design .power-item {
    cursor: pointer;
}
/* Menu end*/

/*TEMP*/

.pw-blue, .pw-blue * {
    color: blue;
}

.pw-yellow, .pw-yellow * {
    color: yellow;
}

.pw-red, .pw-red * {
    color: red;
}

.pw-orange, .pw-orange * {
    color: orange;
}

.pw-green, .pw-green * {
    color: green;
}

.pw-font-big {
    font-size: 1.5em;
}

.pw-underlined {
    text-decoration: underline;
}
