/* Menu */
.pw-design .power-item, .power-item.pw-design {
    list-style-type: none;
}

.pw-design .power-item, .pw-design .power-list, .pw-design.power-item, .pw-design.power-list {
    padding:0px;
    margin:0px;
}

.power-menu.pw-horizontal .power-item, .pw-horizontal > * {
    display: inline;
}

.pw-design .power-item {
    cursor: pointer;
}
/* Menu end*/

/*TEMP*/

.pw-blue * {
    color: blue;
}

.pw-yellow * {
    color: yellow;
}

.pw-red * {
    color: red;
}

.pw-orange * {
    color: orange;
}

.pw-green * {
    color: green;
}
