.pwdesign-white-smoke {
    font-family: Verdana, Arial, "Courier New";
}

/* Menu */
.pwdesign-white-smoke .power-brand, .pwdesign-white-smoke .power-item, .pwdesign-white-smoke .power-action, .pwdesign-white-smoke .power-toggle {
    cursor: pointer;
    list-style-type: none;
}

.pwdesign-white-smoke .power-menu {
    padding: 0.5em;
    margin-bottom: 0.5em;
    background-color: #F5F5F5;
    vertical-align: middle;
    z-index: 1000;
}
.pwdesign-white-smoke .power-dropmenu {
    z-index: 1002;
}
.pwdesign-white-smoke .power-toggle {
    border-style: solid;
    border-width: 1px;
    padding: 0.3em 0.5em;
}

.pwdesign-white-smoke .power-menu-fixed .power-toggle {
    margin-right: 1em;
}

.pwdesign-white-smoke  .power-menu-fixed {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
/* Menu end*/

/* Dropdown */
.pwdesign-white-smoke .power-dropmenu span.power-action:hover, .pwdesign-white-smoke .power-dropmenu span.power-item:hover, .pwdesign-white-smoke .power-dropmenu a.power-action:hover, .pwdesign-white-smoke .power-dropmenu a.power-item:hover, .pwdesign-white-smoke .power-dropmenu div.power-action:hover, .pwdesign-white-smoke .power-dropmenu div.power-item:hover {
    background-color: #00ace6;
    color: #F5F5F5;
}
.pwdesign-white-smoke .power-menu > span.power-action:hover, .pwdesign-white-smoke .power-menu > span.power-item:hover, .pwdesign-white-smoke .power-menu > a.power-action:hover, .pwdesign-white-smoke .power-menu > a.power-item:hover, .pwdesign-white-smoke .power-menu > div.power-action:hover, .pwdesign-white-smoke .power-menu > div.power-item:hover {
    font-weight: bold;
    text-shadow: 0px 0px 11px rgb(0, 172, 230);
}
.pwdesign-white-smoke .power-item, .pwdesign-white-smoke .power-action, .pwdesign-white-smoke .power-item > *, .pwdesign-white-smoke .power-brand, .pwdesign-white-smoke .power-action > *, .pwdesign-white-smoke .power-brand > * {
    vertical-align: middle;
    font-size: 12pt;
}

.pwdesign-white-smoke .power-dropmenu > .power-dropmenu.power-active {
    /*margin-left: 2em;*/
}

.pwdesign-white-smoke .power-item, .pwdesign-white-smoke .power-action, .pwdesign-white-smoke .power-list {
    padding: 0.5em;
}
.pwdesign-white-smoke .power-dropmenu.power-active, .pwdesign-white-smoke .power-dropmenu.power-active > .power-dropmenu.power-active {
    background-color: #F5F5F5;
}
/* Dropdown end */

/* Accordion */
.pwdesign-white-smoke .power-accordion > .power-action, .pwdesign-white-smoke .power-accordion > .power-accordion-section {
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
.pwdesign-white-smoke .power-accordion > .power-action {
    background-color: #F5F5F5;
}
.pwdesign-white-smoke .power-accordion > .power-accordion-section {
    background-color: #fff;
}
.pwdesign-white-smoke .power-accordion > .power-accordion-section {
    visibility: hidden;
    overflow: hidden;
    max-height: 0;
}
.pwdesign-white-smoke .power-accordion > .power-accordion-section.power-active {
    visibility: visible;
    padding: 0.5em;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-bottom: 0.2em;
    max-height: 100vh;
    transition: max-height 0.4s ease-in-out;
}
.pwdesign-white-smoke .power-accordion > .power-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 0.2em;
}

.pwdesign-white-smoke .power-accordion > .power-action.power-active {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 0;
    margin-bottom: 0em;
}
/* Accordion */
/* keyboard mode on*/
.pwdesign-white-smoke .power-keyboard-mode, .pwdesign-white-smoke .power-keyboard-mode.power-accordion > .power-action {
    background-image: none !important;
    background-color: #EEE8AA !important;
    border-style: solid !important;
    border-width: 2px !important;
    border-color: yellow !important;
    box-shadow: 0 0 20px #CCCC00 !important;
    z-index: 2000 !important;
}
.pwdesign-white-smoke .power-keyboard-backdrop {
    position: fixed;
    opacity: 0.5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    z-index: 2001 !important;
}
.pwdesign-white-smoke .power-keyboard-position {
    position: relative !important;
    z-index: 1999 !important;
}
/* keyboard mode on*/

/* Dialog-Modal-Window start */
.pwdesign-white-smoke .pw-modal .pw-body, .pwdesign-white-smoke .pw-dialog .pw-body, .pwdesign-white-smoke .pw-window .pw-body {
    background-color: #F5F5F5;
}
.pwdesign-white-smoke .pw-body.pw-body-iframe {
    background-color: #000;
}
.pwdesign-white-smoke .pw-body.pw-body-iframe iframe {
    background-color: #fff;
}

.pwdesign-white-smoke .pw-bt-close {
    color: #FFF;
    font-size: 1.6rem;
    margin-top: .3em;
    margin-right: .8rem;
}
/* Dialog-Modal-Window end */
.pwdesign-white-smoke .pw-icon {
    font-size: 1.6rem;
}
.pwdesign-white-smoke .pw-icon.caret-left, .pwdesign-white-smoke .pw-icon.caret-up, .pwdesign-white-smoke .pw-icon.caret-right, .pwdesign-white-smoke .pw-icon.caret-down {
    font-size: 1.3rem;
}
