.pwdesign-white-smoke,
.pwdesign-white-smoke *
 {
    font-family: Verdana, Arial, "Courier New", "san-serif";
    font-size: 1em;
}

.window-is-maximized .pw-window,
.pw-small-window-mode .pw-window {
    box-shadow: unset;
}

/* Menu */
.pwdesign-white-smoke .power-brand, .pwdesign-white-smoke .power-item, .pwdesign-white-smoke .power-action, .pwdesign-white-smoke .power-toggle {
    cursor: pointer;
    list-style-type: none;
}

.pwdesign-white-smoke .pw-bar {
    padding: 0.5em;
    background-color: #F5F5F5;
    vertical-align: middle;
    z-index: 1000;
}

.pwdesign-white-smoke .power-dropmenu {
    z-index: 1004;
}
.pwdesign-white-smoke .power-dropmenu.power-active, .pwdesign-white-smoke .power-dropmenu.power-active > .power-dropmenu.power-active {
    border-style: solid;
    border-width: 1px;
}

.pwdesign-white-smoke .power-toggle {
    padding: 0.3em 0.5em;
}

.pwdesign-white-smoke  .pw-bar-fixed {
    width: 100%;
    z-index: 1000;
}
/* Menu end*/
.pwdesign-white-smoke .pw-bar.pw-icons-bar {
    padding: 0;
}
/* Dropdown */
.pwdesign-white-smoke .power-dropmenu span.power-action:hover, .pwdesign-white-smoke .power-dropmenu span.power-item:hover, .pwdesign-white-smoke .power-dropmenu a.power-action:hover, .pwdesign-white-smoke .power-dropmenu a.power-item:hover, .pwdesign-white-smoke .power-dropmenu div.power-action:hover, .pwdesign-white-smoke .power-dropmenu div.power-item:hover {
    background-color: #00ace6;
    color: #F5F5F5;
}
.pwdesign-white-smoke .pw-bar > span.power-action:hover, .pwdesign-white-smoke .pw-bar > span.power-item:hover, .pwdesign-white-smoke .pw-bar > a.power-action:hover, .pwdesign-white-smoke .pw-bar > a.power-item:hover, .pwdesign-white-smoke .pw-bar > div.power-action:hover, .pwdesign-white-smoke .pw-bar > div.power-item:hover {
    text-shadow: 0px 0px 11px rgb(0, 172, 230);
}

.pwdesign-white-smoke .power-list,
.pwdesign-white-smoke .power-list > *,
.pwdesign-white-smoke .power-item,
.pwdesign-white-smoke .power-action,
.pwdesign-white-smoke .power-item > *,
.pwdesign-white-smoke .power-brand,
.pwdesign-white-smoke .power-action > *,
.pwdesign-white-smoke .power-brand > * {
    vertical-align: middle;
}

.pwdesign-white-smoke .power-item,
.pwdesign-white-smoke .power-action,
.pwdesign-white-smoke .power-list,
.pwdesign-white-smoke .power-toggle,
.pwdesign-white-smoke .power-brand {
    padding: 0.5em;
}
.pwdesign-white-smoke .pw-icons-bar .power-toggle {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.pwdesign-white-smoke button.power-item {
    padding: 0.7em;
}
.pwdesign-white-smoke .power-dropmenu.power-active, .pwdesign-white-smoke .power-dropmenu.power-active > .power-dropmenu.power-active {
    background-color: #F5F5F5;
}
/* Dropdown end */

/* Accordion */
.pwdesign-white-smoke .power-accordion > .power-action, .pwdesign-white-smoke .power-accordion > .power-accordion-section {
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
.pwdesign-white-smoke .power-accordion > .power-action {
    background-color: #F5F5F5;
}
.pwdesign-white-smoke .power-accordion > .power-accordion-section {
    background-color: #fff;
}
.pwdesign-white-smoke .power-accordion > .power-accordion-section {
    visibility: hidden;
    overflow: hidden;
    max-height: 0;
}
.pwdesign-white-smoke .power-accordion > .power-accordion-section.power-active {
    visibility: visible;
    padding: 0.5em;
    margin-bottom: 0.2em;
    max-height: 100vh;
    transition: max-height 0.4s ease-in-out;
}
.pwdesign-white-smoke .power-accordion > .power-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.2em;
}

.pwdesign-white-smoke .power-accordion > .power-action.power-active {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 0;
    margin-bottom: 0;
}
/* Accordion */
/* keyboard mode on*/
/*.pwdesign-white-smoke .power-keyboard-mode, .pwdesign-white-smoke .power-keyboard-mode.power-accordion > .power-action {
    background-image: none !important;
    background-color: #EEE8AA !important;
    border-style: solid !important;
    border-width: 2px !important;
    border-color: yellow !important;
    box-shadow: 0 0 20px #CCCC00 !important;
    z-index: 2000 !important;
}
.pwdesign-white-smoke .power-keyboard-backdrop {
    position: fixed;
    opacity: 0.5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    z-index: 2001 !important;
}
.pwdesign-white-smoke .power-keyboard-position {
    position: relative !important;
    z-index: 1999 !important;
}*/
/* keyboard mode on*/

/* Power tabs */
.pwdesign-white-smoke .power-tabs > .power-action.power-active {
    margin-top: 8px;
    box-shadow: 2px -3px 5px #ddd;
}
.pwdesign-white-smoke .power-tabs > .power-tab-section {
    margin-top: 8px;
}
.pwdesign-white-smoke .power-tabs > .power-action {
    margin: 8px 0;
}
.pwdesign-white-smoke .power-tabs {
    background-color: #F5F5F5;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    margin-bottom: 1em;
}
.power-tabs .power-action.power-active {
    background-color: #fff;
    margin: 0;
}
.pwdesign-white-smoke .power-tabs > .power-tab-section {
    visibility: hidden;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    background-color: #fff;
    margin-top: -4px;
}
.pwdesign-white-smoke .power-tabs > .power-tab-section.power-active {
    visibility: visible;
    opacity: 1;
    padding: 0.5em;
    margin-bottom: 0.2em;
    max-height: 100vh;
    transition: visibility 0.3s linear, opacity 0.5s linear;
}
.pwdesign-white-smoke .power-tabs > .power-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.2em;
}

/* Dialog-Modal-Window start */
.pwdesign-white-smoke .pw-modal .pw-body, .pwdesign-white-smoke .pw-dialog .pw-body, .pwdesign-white-smoke .pw-window .pw-body {
    background-color: #F5F5F5;
}
.pwdesign-white-smoke .pw-body.pw-body-iframe {
    background-color: #000;
}
.pwdesign-white-smoke .pw-body.pw-body-iframe iframe {
    background-color: #fff;
}

.pwdesign-white-smoke .pw-bt-dialog-title {
    color: #FFF;
    margin-top: .9rem;
    margin-right: .9rem;
}
/* Dialog-Modal-Window end */

.pwdesign-white-smoke .pw-icon {
    font-size: 1em;
}

.pwdesign-white-smoke .pw-bar.pw-icons-bar .pw-icon {
    font-size: 1.7em;
}
.pwdesign-white-smoke .pw-bar.pw-icons-bar .pw-icon.pw-status, .pwdesign-white-smoke .pw-bar.pw-icons-bar .power-status {
    font-size: 1em;
}
.pwdesign-white-smoke .pw-bar.pw-icons-bar:not(.pw-mirrored) .power-action {
    padding-right: 0;
}
.pwdesign-white-smoke .pw-bar.pw-icons-bar.pw-mirrored .power-action {
    padding-left: 0;
}
.pwdesign-white-smoke .pw-bar.pw-icons-bar .power-dropmenu .pw-icon {
    font-size: 1em;
}

@media screen and (max-width: 768px) {
    .pwdesign-white-smoke .pw-bar.pw-icons-bar .pw-icon {
        font-size: 1.4em;
    }
    .pwdesign-white-smoke .pw-bar.pw-icons-bar .pw-icon.pw-status, .pwdesign-white-smoke .pw-bar.pw-icons-bar .power-status {
        font-size: 1em;
    }
}

/* power menu-break query*/
.pwdesign-white-smoke .pw-bar-break .pw-bar.pw-icons-bar .pw-icon {
    font-size: 1.4em;
}
.pwdesign-white-smoke .pw-bar-break .pw-bar.pw-icons-bar .pw-icon.pw-status, .pwdesign-white-smoke .pw-bar-break .pw-bar.pw-icons-bar .power-status {
    font-size: 1em;
}
/* power menu-break query*/

/* buttons start*/

.pw-btn-default, .pw-btn-highlight, .pw-btn-danger, .pw-btn-primary, .pw-btn-warning, .pw-btn-secundary, .pw-btn-success, .pw-btn-basic {
    margin-top: 1em;
    border: none;
    cursor: pointer;
    padding: 0.7em;
    /*border-radius: 0.3em;*/
}
.pw-col .pw-btn-default,
.pw-col .pw-btn-highlight,
.pw-col .pw-btn-danger,
.pw-col .pw-btn-primary,
.pw-col .pw-btn-warning,
.pw-col .pw-btn-secundary,
.pw-col .pw-btn-success,
.pw-col .pw-btn-basic {
    margin-top: 0;
}

.pwdesign-white-smoke .pw-btn-default .pw-label,
.pwdesign-white-smoke .pw-btn-highlight .pw-label,
.pwdesign-white-smoke .pw-btn-danger .pw-label,
.pwdesign-white-smoke .pw-btn-primary .pw-label,
.pwdesign-white-smoke .pw-btn-warning .pw-label,
.pwdesign-white-smoke .pw-btn-secundary .pw-label,
.pwdesign-white-smoke .pw-btn-success .pw-label,
.pwdesign-white-smoke .pw-btn-basic .pw-label,
.pwdesign-white-smoke input[type='reset'],
.pwdesign-white-smoke input[type='submit']
 {
    font-weight: bold;
    font-size: 0.9em;
    /*border-radius: 0.3em;*/
}

.pwdesign-white-smoke button, .pwdesign-white-smoke button.power-action,
.pwdesign-white-smoke input[type='reset'],
.pwdesign-white-smoke input[type='submit'],
.pwdesign-white-smoke input[type='image'] {
    margin-right: 0.5em;
    display: inline-block;
    /*margin-top: 1em;*/
    padding: 0.7em;
    vertical-align: middle;
}
.pwdesign-white-smoke .pw-btn-default {
    color: #FFFFFF;
    background-color: #000000;
}
.pwdesign-white-smoke .pw-btn-basic {
    color: #FFFFFF;
    background-color: #B0B0B0;
}
.pwdesign-white-smoke .pw-btn-highlight {
    color: #FFFF00;
    background-color: #000000;
}
.pwdesign-white-smoke .pw-btn-danger {
    color: #FFFFFF;
    background-color: #8B0000;
}
.pwdesign-white-smoke .pw-btn-primary {
    color: #FFFFFF;
    background-color: #4B0082;
}
.pwdesign-white-smoke .pw-btn-secundary, .pwdesign-white-smoke .pw-btn-secundary.power-action {
    color: #000000;
    padding: 0.65em;
    border: 1px solid #000000;
    background-color: #FFFFFF;
}
.pwdesign-white-smoke .pw-btn-warning {
    color: #FFFFFF;
    background-color: #f2ae09;
}

.pwdesign-white-smoke .pw-btn-success {
    color: #FFFFFF;
    background-color: #556B2F;
}

/* labels */
.pwdesign-white-smoke .pw-label {
    margin-left: 0.4em;
    margin-right: 0.4em;
}

/* forms controls start */
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .pwdesign-white-smoke input.pw-field[type='checkbox'],
  .pwdesign-white-smoke input.pw-field[type='radio'] {
    --active: #000000;
    --active-inner: #fff;
    --focus: 2px #8c8c8c;
    --border: #c5c5c5;
    --border-hover: #8e8e8e;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}

.pw-simple-form .pw-field-container.pw-has-error .pw-control-helper,
.pw-simple-form .pw-field-container.pw-has-error label {
    color: rgba(255,102,102, 1);
}
.pw-simple-form .pw-field-container.pw-has-error .pw-field {
    background-color: rgba(255,102,102, 1);;
}

/* forms controls end*/
