body.power-design-snow {
    font-family: Verdana, Arial, "Courier New";
}

/* Menu */
.power-design-snow .power-brand, .power-design-snow .power-item, .power-design-snow .power-action, .power-design-snow .power-toggle {
    cursor: pointer;
    list-style-type: none;
}

.power-design-snow .power-menu {
    padding: 0.5em;
    margin-bottom: 0.5em;
    border-style: solid;
    border-width: 1px;
    background-color: #fff;
    vertical-align: middle;
}

.power-design-snow .power-toggle {
    border-style: solid;
    border-width: 1px;
    padding: 0.3em 0.5em;
}
/* Menu end*/

/* Dropdown */
.power-design-snow .power-item, .power-design-snow .power-action, .power-design-snow .power-item > *, .power-design-snow .power-brand, .power-design-snow .power-action > *, .power-design-snow .power-brand > * {
    vertical-align: middle;
    font-size: 12pt;
}

.power-design-snow .power-dropdown.power-show, .power-design-snow .power-dropdown.power-show > .power-dropdown.power-show {
    display: block !important;
    white-space:nowrap;
    border-style: solid;
    border-width: 1px;
    position: absolute;
    background-color: white;
}

.power-design-snow .power-dropdown > .power-dropdown.power-show {
    margin-left: 2em;
}

.power-design-snow .power-item, .power-design-snow .power-action {
    padding: .5em !important;
}
/* Dropdown end */

/* Dropdown */

.power-dropdown, .power-dropdown.power-show > .power-dropdown {
    display: none !important;
}
@media screen and (max-width: 800px) {
    .power-dropdown > .power-dropdown.power-show {
        margin-left: 0 !important;
        position: relative;
    }
}
/* Dropdown end */
/* Menu */
.power-menu.power-horizontal > * {
    display: inline-block;
}

.power-show > .power-item, .power-show > .power-action, .power-show > .power-brand {
    display: block !important;
}

.power-menu.power-horizontal .power-toggle {
    display: none;
}

@media screen and (max-width: 800px) {
    .power-menu.power-horizontal .power-action, .power-menu.power-horizontal .power-item {
        display: none;
    }

    .power-menu.power-horizontal {
        display: flex;
        justify-content: space-between;
    }

    .power-menu.power-horizontal.power-show {
        display: block;
        justify-content: initial;
    }

    .power-menu.power-horizontal .power-toggle {
        display: inline-block;
        text-align: right;
    }

    .power-menu.power-horizontal.power-show .power-toggle {
        display: none;
    }
}
/* Menu end*/

/*TEMP*/

.pw-blue, .pw-blue * {
    color: blue !important;
}

.pw-yellow, .pw-yellow * {
    color: yellow !important;
}

.pw-red, .pw-red * {
    color: red !important;
}

.pw-orange, .pw-orange * {
    color: orange !important;
}

.pw-green, .pw-green * {
    color: green !important;
}

.pw-font-big * {
    font-size: 1.5em !important;
}

.pw-underlined * {
    text-decoration: underline !important;
}

.pw-underlined-none * {
    text-decoration: none !important;
}

.color1 {
    color: yellow !important;
    text-shadow: 2px 2px 10px blue !important;
}
.color2 {
    color: orange !important;
    text-shadow: 2px 2px 10px yellow !important;
}

.another {
    padding: .5em !important;
    max-width: 9em !important;
    border: 5px double orange !important;
    border-radius: 0 20px 0 20px !important;
    box-shadow: 5px 5px 20px 0 purple !important;
    background: linear-gradient(to left, white 5%, #ADD8E6 30%, white 40%, #ADD8E6 50%, white 70%, #ADD8E6 90%, white 95%) !important;
}
.power-horizontal.another {
    max-width: 100%;
}
body {
    background: linear-gradient(to left, white 5%, #ADD8E6 30%, white 40%, #ADD8E6 50%, white 70%, #ADD8E6 90%, white 95%);
}
.back {
    margin: 3em;
    padding: 2em;
    border-radius: 1em;
    background-color: #ADD8E6;
    box-shadow: 5px 5px 20px 0 purple;
}
.asidea {
    width: 20%;
    height: 200px;
    float: left;
}
.asideb {
    width: 20%;
    height: 200px;
    float: right;
}
article {
    width: 60%;
    height: 200px;
    float: left;
}
footer {
    clear: both;
}

header, aside, section, footer, article {
    border-style: double;
    border-color: black;
}
header, aside, footer, article {
    padding: 1em;
    overflow: auto;
}
section {
    border-radius: .5em;
    background-color: #ADD8E6;
    box-shadow: 5px 5px 20px 0 purple;
    margin: 1em;
}
.back {
    position: absolute;
    margin-left: 8em;
    padding-left: 5em;
    left: 3em;
    border-width: 5px;
    border-style: solid;
    border-color: black;
}
