/* Menu */
.pw-design .power-item, .power-item.pw-design {
    list-style-type: none;
}

.pw-design .power-item, .pw-design .power-list, .pw-design.power-item, .pw-design.power-list {
    padding:0px;
    margin:0px;
}

.power-menu.pw-horizontal .power-item, .pw-horizontal > * {
    display: inline;
}

.power-label, .power-item {
    cursor: pointer;
}
/* Menu end*/

.power-dropdown.power-hide > .power-item,  .power-dropdown.power-hide > .power-dropdown {
    display: none !important;
}

.power-dropdown.power-show > .power-item, .power-dropdown.power-show > .power-dropdown {
    display: block !important;
    white-space:nowrap;
}

.power-dropdown.power-show {
    border-style: solid;
    border-width: 1px;
    position: absolute;
    background-color: white;
}

.power-dropdown > .power-dropdown.power-show {
    margin-left: 4em;
}

.power-item, .power-dropdown {
    display: inline-block !important;
    padding: .5em !important;
}

/*TEMP*/

.pw-blue, .pw-blue * {
    color: blue !important;
}

.pw-yellow, .pw-yellow * {
    color: yellow !important;
}

.pw-red, .pw-red * {
    color: red;
}

.pw-orange, .pw-orange * {
    color: orange !important;
}

.pw-green, .pw-green * {
    color: green !important;
}

.pw-font-big {
    font-size: 1.5em;
}

.pw-underlined {
    text-decoration: underline;
}

.color1 {
    color: yellow !important;
    text-shadow: 2px 2px 10px blue;
}
.color2 {
    color: orange !important;
    text-shadow: 2px 2px 10px yellow;
}

.another {
    padding: .5em;
    max-width: 30em;
    border: 5px double orange;
    border-radius: 0 20px 0 20px;
    box-shadow: 5px 5px 20px 0 purple;
    background: linear-gradient(to left, white 5%, #ADD8E6 30%, white 40%, #ADD8E6 50%, white 70%, #ADD8E6 90%, white 95%);
}
body {
    background: linear-gradient(to left, white 5%, #ADD8E6 30%, white 40%, #ADD8E6 50%, white 70%, #ADD8E6 90%, white 95%);
}
.back {
    margin: 3em;
    padding: 2em;
    border-radius: 1em;
    background-color: #ADD8E6;
    box-shadow: 5px 5px 20px 0 purple;
}
.asidea {
    width: 20%;
    height: 200px;
    float: left;
}
.asideb {
    width: 20%;
    height: 200px;
    float: right;
}
article {
    width: 60%;
    height: 200px;
    float: left;
}
footer {
    clear: both;
}

header, aside, section, footer, article {
    border-style: double;
    border-color: black;
}
header, aside, footer, article {
    padding: 1em;
    overflow: auto;
}
section {
    border-radius: .5em;
    background-color: #ADD8E6;
    box-shadow: 5px 5px 20px 0 purple;
    margin: 1em;
}
