body.power-design-snow {
    font-family: Verdana, Arial, "Courier New";
}

/* Menu */
.power-design-snow .power-brand, .power-design-snow .power-item, .power-design-snow .power-action, .power-design-snow .power-toggle {
    cursor: pointer;
    list-style-type: none;
}

.power-design-snow .power-menu {
    padding: 0.5em;
    margin-bottom: 0.5em;
    border-style: solid;
    border-width: 1px;
    background-color: #fff;
    vertical-align: middle;
}

.power-design-snow .power-toggle {
    border-style: solid;
    border-width: 1px;
    padding: 0.3em 0.5em;
}
/* Menu end*/

/* Dropdown */
.power-design-snow .power-dropdown span.power-action:hover, .power-design-snow .power-dropdown span.power-item:hover, .power-design-snow .power-dropdown a.power-action:hover, .power-design-snow .power-dropdown a.power-item:hover, .power-design-snow .power-dropdown div.power-action:hover, .power-design-snow .power-dropdown div.power-item:hover {
    background-color: #00ace6;
    color: #fff;
}
.power-design-snow .power-menu > span.power-action:hover, .power-design-snow .power-menu > span.power-item:hover, .power-design-snow .power-menu > a.power-action:hover, .power-design-snow .power-menu > a.power-item:hover, .power-design-snow .power-menu > div.power-action:hover, .power-design-snow .power-menu > div.power-item:hover {
    font-weight: bold;
    text-shadow: 0px 0px 11px rgb(0, 172, 230);
}
.power-design-snow .power-item, .power-design-snow .power-action, .power-design-snow .power-item > *, .power-design-snow .power-brand, .power-design-snow .power-action > *, .power-design-snow .power-brand > * {
    vertical-align: middle;
    font-size: 12pt;
}

.power-design-snow .power-dropdown > .power-dropdown.power-active {
    margin-left: 2em;
}

.power-design-snow .power-item, .power-design-snow .power-action {
    padding: .5em !important;
}
/* Dropdown end */
