/* Menu */
.pw-design .power-item, .power-item.pw-design {
    list-style-type: none;
}

.pw-design .power-item, .pw-design .power-list, .pw-design.power-item, .pw-design.power-list {
    padding:0px;
    margin:0px;
}

.power-menu.pw-horizontal .power-item, .pw-horizontal > * {
    display: inline;
}

.power-label, .power-item {
    cursor: pointer;
}
/* Menu end*/

.power-dropdown.power-hide > .power-item,  .power-dropdown.power-hide > .power-dropdown {
    display: none !important;
}

.power-dropdown.power-show > .power-item, .power-dropdown.power-show > .power-dropdown {
    display: block !important;
    white-space:nowrap;
}

.power-dropdown.power-show {
    border-style: solid;
    border-width: 1px;
    position: absolute;
    background-color: white;
}

.power-dropdown > .power-dropdown.power-show {
    margin-left: 4em;
}

.power-item, .power-dropdown {
    display: inline-block !important;
    padding: .5em !important;
}
