body.power-design-snow {
    font-family: Verdana, Arial, "Courier New";
}

/* Menu */
.power-menu.power-horizontal > * {
    display: inline-block;
}

.power-design-snow, .power-design-snow .power-item, .power-design-snow .power-action {
    cursor: pointer;
    list-style-type: none;
}
/* Menu end*/

/* Dropdown */
.power-design-snow .power-item, .power-design-snow .power-action, .power-design-snow .power-item > * , .power-design-snow .power-action > * {
    vertical-align: middle;
    font-size: 12pt;
}
.power-design-snow .power-dropdown.power-show, .power-design-snow .power-dropdown.power-show > .power-dropdown.power-show {
    display: block !important;
    white-space:nowrap;
    border-style: solid;
    border-width: 1px;
    position: absolute;
    background-color: white;
}

.power-design-snow .power-dropdown > .power-dropdown.power-show {
    margin-left: 2em;
}

.power-design-snow .power-item, .power-design-snow .power-action {
    padding: .5em !important;
}

.power-show > .power-item, .power-show > .power-action {
    display: block !important;
}

.power-dropdown, .power-dropdown.power-show > .power-dropdown {
    display: none !important;
}
/* Dropdown end */
