<!DOCTYPE html>
<html>
  <head>
    <title>Power UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/power_ui.css" />
    <link rel="stylesheet" type="text/css" href="css/temp_develop.css" />
    <style id="styles"></style>
  </head>
  <body>
    <div id="app-container">
      <div id="root-view" class="power-main power-view pwdesign-white-smoke">
        <div class="power-view" id="main-view"></div>
        <div class="power-view" id="secondary-view"></div>
    </div>
    <script type="module" src="scripts/temp_develop.js"></script>
  </body>
</html>
