<!DOCTYPE html>
<html>
  <head>
    <title>Power UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/power_ui.css" />
    <link rel="stylesheet" type="text/css" href="vendors/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="vendors/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="vendors/pure-min.css" />
  </head>
  <body class="power-main pwdesign-white-smoke">
    <div class="power-view" id="main-view"></div>
    <div class="power-view" id="component-view"></div>
    <div>
      {{ 'Aqui temos uma interpolação de 3 + 3: ' }}
      {{ 3 + 3 }}
    </div>
    <script src="vendors/jquery-3.2.1.slim.min.js"></script>
    <script src="vendors/popper.min.js"></script>
    <script src="vendors/bootstrap.min.js"></script>
    <script src="vendors/pure-menus.js"></script>
    <script type="text/javascript" src="scripts/power_ui.js"></script>
  </body>
</html>
