<h1>Sweet child o' mine</h1>
<div class="power-tabs" id="song-tabs">
    <div class="power-action" data-power-target="tab-0" id="tab-0-action">
        <span>Lyrics</span>
    </div>
    <div class="power-tab-section" id="tab-0">
        <h2>
            Sweet Child O' Mine
        </h2>
        <p>
            She's got a smile that it seems to me<br />
            Reminds me of childhood memories<br />
            Where everything was as fresh as the bright blue sky<br />
        </p>
        <p>
            Now and then when I see her face<br />
            She takes me away to that special place<br />
            And if I stare too long<br />
            I'd probably break down and cry<br />
        </p>
        <p>
            Oh, oh, oh
        </p>
        <p>
            Sweet child o' mine
        </p>
        <p>
            Oh, oh, oh, oh
        </p>
        <p>
            Sweet love of mine
        </p>
        <p>
            She's got eyes of the bluest skies<br />
            As if they thought of rain<br />
            I hate to look into those eyes<br />
            And see an ounce of pain<br />
        </p>
        <p>
            Her hair reminds me of a warm safe place<br />
            Where as a child I'd hide<br />
            And pray for the thunder<br />
            And the rain to quietly pass me by<br />
        </p>
        <p>
            Oh, oh, oh
        </p>
        <p>
            Sweet child o' mine
        </p>
        <p>
            Oh, oh, oh, oh
        </p>
        <p>
            Sweet love of mine
        </p>
        <p>
            Oh, oh, oh, oh
        </p>
        <p>
            Sweet child o' mine
        </p>
        <p>
            Uh, uh, uh, uh
        </p>
        <p>
            Sweet love of mine
        </p>
        <p>
            Where do we go<br />
            Where do we go now<br />
            Where do we go<br />
            Where do we go<br />
            Where do we go now<br />
            Where do we go now<br />
            Where do we go<br />
            Where do we go now<br />
            Where do we go now<br />
            Where do we go<br />
            Where do we go now<br />
            Where do we go<br />
            Where do we go now<br />
            Where do we go<br />
            Where do we go now<br />
        </p>
        <p>
            Sweet child<br />
            Sweet child o' mine<br />
        </ṕ>
    </div>
    <div class="power-action" data-power-target="tab-1" id="tab-1-action">
        Tradução
    </div>
    <div class="power-tab-section" id="tab-1">
        <h2>
            Minha Doce Criança
        </h2>
        <p>
            Ela tem um sorriso que me parece<br />
            Trazer à tona recordações da infância<br />
            Onde tudo era fresco como o límpido céu azul<br />
        </p>
        <p>
            Às vezes quando olho seu rosto<br />
            Ela me leva para aquele lugar especial<br />
            E se eu fixasse meu olhar por muito tempo<br />
            Provavelmente perderia o controle e começaria a chorar<br />
        </p>
        <p>
            Oh, oh, oh
        </p>
        <p>
            Minha doce criança
        </p>
        <p>
            Oh, oh, oh, oh
        </p>
        <p>
            Meu doce amor
        </p>
        <p>
            Ela tem os olhos como os céus mais azuis<br />
            Como se eles pensassem em chuva<br />
            Detesto olhar para dentro daqueles olhos<br />
            E enxergar o mínimo que seja de dor<br />
        </p>
        <p>
            Seu cabelo me lembra um lugar quente e seguro<br />
            Onde, quando criança, eu me escondia<br />
            E rezaria para que o trovão<br />
            E a chuva passassem quietos por mim<br />
        </p>
        <p>
            Oh, oh, oh
        </p>
        <p>
            Minha doce criança
        </p>
        <p>
            Oh, oh, oh, oh
        </p>
        <p>
            Meu doce amor
        </p>
        <p>
            Oh, oh, oh, oh
        </p>
        <p>
            Minha doce criança
        </p>
        <p>
            Uh, uh, uh, uh
        </p>
        <p>
            Meu doce amor
        </p>
        <p>
            Para onde vamos<br />
            Para onde vamos agora<br />
            Para onde vamos<br />
            Para onde vamos<br />
            Para onde vamos agora<br />
            Para onde vamos agora<br />
            Para onde vamos<br />
            Para onde vamos agora<br />
            Para onde vamos agora<br />
            Para onde vamos<br />
            Para onde vamos agora<br />
            Para onde vamos<br />
            Para onde vamos agora<br />
            Para onde vamos<br />
            Para onde vamos agora<br />
        </p>
        <p>
            Doce criança<br />
            Minha doce criança<br />
        </p>
    </div>
</div>
