<div class="fakemodalback">
    <div class="fakemodal">
        <!-- Menu -->
        <nav id="ncomp-menu" class="power-menu power-horizontal" data-pwc-teste="remova isso">
            <a class="power-brand">
                <span>COMP MENU</span>
                <img data-pow-src-hover="vendors/imgs/Australia-Flag-icon.png"
                     data-pow-main-src-hover="vendors/imgs/Argentina-Flag-icon.png"
                     data-pwc-teste="remova isso tambem"
                     src="vendors/imgs/Brazil-Flag-icon.png"
                     width="25"
                     height="25" />
            </a>
            <a id="ncomp-menu-action" class="power-toggle"id="ncomp-menu-toggle" data-power-target="ncomp-menu">
                <i class="fa fa-bars"></i>
            </a>
            <a class="power-action" id="nnews" data-power-target="ndrop1">
                <span class="power-icon fa fa-android"
                      data-pow-main-css-hover="fa-blind"
                      data-pow-css-hover="fa-bitcoin">
                </span>
                <span>01News</span>
                <span class="power-status fa" data-power-active="fa-caret-down" data-power-inactive="fa-caret-right"></span>
            </a>
            <nav class="power-dropmenu" id="ndrop1">
                <a class="power-item">Link 1</a>
                <a class="power-item">Link 2</a>
                <a class="power-item">Link 3</a>
            </nav>
            <a class="power-action" id="nsports" data-power-target="ndrop2" data-pow-main-css-hover="pw-blue">
                <span class="fa fa-blind"> </span>
                <span>02Sports</span>
                <img
                src="vendors/imgs/tumblr_inline_nl8y67Q95H1t90c7j.gif"
                data-pow-src-hover="vendors/imgs/Australia-Flag-icon.png"
                data-pow-main-src-hover="vendors/imgs/Argentina-Flag-icon.png"
                width="25"
                height="25" />
                <img
                src="vendors/imgs/atom-icon.png"
                data-pow-src-hover="vendors/imgs/Brazil-Flag-icon.png"
                data-pow-main-src-hover="vendors/imgs/Argentina-Flag-icon.png"
                width="25"
                height="25" />
                <span class="power-status fa" data-power-active="fa-caret-down" data-power-inactive="fa-caret-right"></span>
            </a>
            <nav class="power-dropmenu" id="ndrop2">
                <a class="power-item">Mais Link 1</a>
                <a class="power-action" data-power-target="nsub1">
                    Outro Link 2
                    <span class="power-status fa" data-power-active="fa-caret-down" data-power-inactive="fa-caret-right"></span>
                </a>
                <nav class="power-dropmenu" id="nsub1">
                    <a class="power-item">Mais Link 1</a>
                    <a class="power-item">Outro Link 2</a>
                    <a class="power-item">Algum Link 3</a>
                </nav>
                <a class="power-item">Algum Link 3</a>
            </nav>
            <a id="nitem-pouco" class="power-action pw-orange pw-underlined" data-power-target="ndrop3"
              data-pow-main-css-hover-remove="pw-orange pw-underlined"
              data-pow-main-css-hover="pw-blue pw-underlined-none"
              data-pow-css-hover-remove="pw-underlined pw-orange"
              data-pow-css-hover="pw-yellow pw-font-big pw-underlined-none"
              id="nfinance">
                <span class="fa fa-car"> </span> <span>03Finance</span>
                <span class="power-status fa" data-power-active="fa-caret-down" data-power-inactive="fa-caret-right"></span>
            </a>
            <nav class="power-dropmenu" id="ndrop3">
                <a class="power-item">Link 1</a>
                <a class="power-item">Link 2</a>
                <a class="power-item">Link 3</a>
            </nav>
        </nav>

        <!-- Menu end -->
        <h1 class="color1" data-pow-css-hover="color2">Hello, my component!</h1>
        <h4 data-pow-if="showIf()">Hello my if</h4>
        <h4 data-pow-if="showIf()">By my if</h4>
        <h4 data-pow-if="showIf()">Another if</h4>
        <hr />
        <div id="catofcats" data-pow-for="cat of cats">
            <div data-pow-css-hover="pw-blue" data-pow-if="cat.gender === 'female'" id="cat_{{pwIndex}}_f">{{pwIndex + 1}} - Minha linda
                <span data-pow-text="cat.name"></span> <span data-pow-if="cat.name === 'Princesa'">(Favorita!)</span>
            </div>
            <div data-pow-css-hover="pw-orange" data-pow-if="cat.gender === 'male'" id="cat_{{pwIndex}}_m">{{pwIndex + 1}} - Meu lindo {{ cat.name }}
                <span data-pow-if="cat.name === 'Riquinho'">(Favorito!)</span>
            </div>
            <div data-pow-css-hover="pw-yellow" data-pow-if="cat.gender === 'unknow'" id="cat_{{pwIndex}}_u">{{pwIndex + 1}} - São lindos meus {{ cat.name }}
            </div>
        </div>
        <hr />
        <div>Doces: (<span data-pow-text="cands.length * 2"></span>)</div>
        <div data-pow-for="cand of cands">
            <div data-pow-for="content of cand" data-pow-css-hover="pw-orange">
                <div>{{ getCandNumber(content) }} - doce: {{ content }} <span data-pow-if="content === 'brigadeiro'">(Gostoso!)</span></div>
            </div>
        </div>
        <hr />
        <div data-pow-if="showIf()">Odd</div>
        <div data-pow-if="showIf()">
            <div data-pow-for="color in flowers">
                {{ pwIndex +1 }} - {{ color }} {{ pwKey }}<br />
            </div>
        </div>
        <hr />
        <div class="power-main" data-pow-for="lang in languages">
            <img src="vendors/imgs/Brazil-Flag-icon.png"
                data-pow-src-hover="vendors/imgs/Argentina-Flag-icon.png"
                data-pow-main-src-hover="vendors/imgs/Australia-Flag-icon.png"
                width="25"
                height="25" />
                <span data-pow-css-hover="pw-yellow">{{ pwIndex +1 }} - {{ lang.name }} - {{ lang.kind }} ({{ pwKey }})
                    <img src="vendors/imgs/Brazil-Flag-icon.png"
                        data-pow-src-hover="vendors/imgs/Argentina-Flag-icon.png"
                        data-pow-main-src-hover="vendors/imgs/Australia-Flag-icon.png"
                        width="25"
                        height="25"
                    />
                </span><br />
        </div>
        <hr />
        <p data-pow-css-hover="pw-orange">Algum conteúdo de component</p>
        <p>{{ pity() }} 2 + 2 é igual a {{ 2+2 }} e não {{ 2+1 }} {{' teste se' + ' isso é verdade: ' + 'nice evaluate function'}} {{ 2+2 }}</p>
        <p>2 + 2 é igual a {{2+2 "teste.pity.obj" }}  teste["pity"]["obj"]: {{ teste["pity"]["obj"] }}
        </p>
        <p>teste["lu"]["obj"] {{ teste["lu"]["obj"] }} </p>
        <p>'teste["lu"]["obj"]': {{ 'teste["lu"]["obj"]' }}</p>
        <p> e não {{ 2+1 "[sdf]" }}
            My age = {{30 + 1 + 8}}
            <br />2 * 5 ={{ 2*5 }}
        </p>
        <button onclick="app.changeModel('pwReload')">Change and reload</button>
        <button onclick="app.changeModel('hardRefresh')">Change and hardRefresh</button>
        <button onclick="app.changeModel('softRefresh')">Change and softRefresh</button>
        <button onclick="app.openSimpleTemplate()">Open simple template</button>
        <button onclick="app.closeModal()">Close</button>
    </div>
</div>
