<div>
    <p>
        Esta é minha janela 2 + 2 é igual a {{ 2+2 }} e não {{ 2+1 }}.
    </p>
    <div data-pow-for="cat of ['Riquinho', 'Princesa', 'Sol', 'Drew']">
        <p data-pow-if="$pwIndex &lt; 2"><span data-pow-eval="cat + ' não é maior (>) que 2'"></span></p>
        <p data-pow-if="$pwIndex &gt;= 2"><span data-pow-eval="cat + ' 4 é maior (>) que 2 <u>teste</u>'"></span></p>
    </div>

    aqui:
    <nav class="power-tree-view">
        <a class="power-item"><i class="power-icon fa fa-file"></i> index.html</a>
        <a class="power-item">
            <i class="power-icon fa fa-file"></i> index.js
        </a>
        <a class="power-item">
            <i class="power-icon fa fa-file"></i> index.css
        </a>
        <a class="power-list" data-power-target="item1">
           <span class="power-status fa" data-power-active="fa-folder-open" data-power-inactive="fa-folder"></span> templates
        </a>
        <nav id="item1" class="power-tree-view">
            <a class="power-item">
                <i class="power-icon fa fa-file"></i> page-1.html
            </a>
            <a class="power-item">
                <i class="power-icon fa fa-file"></i> page-2.html
            </a>
            <a class="power-item">
                <i class="power-icon fa fa-file"></i> page-3.html
            </a>
            <a class="power-list" data-power-target="item2">
                <span class="power-status fa" data-power-active="fa-folder-open" data-power-inactive="fa-folder"></span> editor
            </a>
            <nav id="item2" class="power-tree-view">
                <a class="power-item">
                    <i class="power-icon fa fa-file"></i> menu.html
                </a>
                <a class="power-item">
                    <i class="power-icon fa fa-file"></i> front-page.html
                </a>
                <a class="power-item">
                    <i class="power-icon fa fa-file"></i> tabs.html
                </a>
            </nav>
            <a class="power-item">
                <i class="power-icon fa fa-file"></i> zendex.html
            </a>
        </nav>
        <a class="power-list" data-power-target="item3">
            <span class="power-status fa" data-power-active="fa-folder-open" data-power-inactive="fa-folder"></span> scripts
        </a>
        <nav id="item3" class="power-tree-view">
            <a class="power-item">
                <i class="power-icon fa fa-file"></i> menu.js
            </a>
            <a class="power-item">
                <i class="power-icon fa fa-file"></i> front-page.js
            </a>
            <a class="power-item">
                <i class="power-icon fa fa-file"></i> main.js
            </a>
        </nav>
    </nav>
    </p>
    <button class="pw-btn-default" data-pow-event onclick="refresh()">Refresh</button>
    <button class="pw-btn-default" data-pow-event onclick="closeCurrentRoute()">Close</button>
</div>
