<div>
    <p>
        Esta é minha janela 2 + 2 é igual a {{ 2+2 }} e não {{ 2+1 }}.
    </p>
    <div data-pow-for="cat of ['Riquinho', 'Princesa', 'Sol', 'Drew']">
        <p data-pow-if="$pwIndex &lt; 2"><span data-pow-eval="cat + ' não é maior (>) que 2'"></span></p>
        <p data-pow-if="$pwIndex &gt;= 2"><span data-pow-eval="cat + ' 4 é maior (>) que 2 <u>teste</u>'"></span></p>
    </div>

    aqui:
    <div class="grid-flex">
        <nav class="power-tree-view col">
            <a class="power-item"><i class="power-icon icon-document-blank"></i> index.html</a>
            <a class="power-item">
                <i class="power-icon icon-document-blank"></i> index.js
            </a>
            <a class="power-item">
                <i class="power-icon icon-document-blank"></i> index.css
            </a>
            <a class="power-list" data-power-target="item1">
               <span class="power-status power-icon" data-power-active="icon-folder-open" data-power-inactive="icon-folder-close"></span> templates
            </a>
            <nav id="item1" class="power-tree-view">
                <a class="power-item">
                    <i class="power-icon icon-document-blank"></i> page-1.html
                </a>
                <a class="power-item">
                    <i class="power-icon icon-document-blank"></i> page-2.html
                </a>
                <a class="power-item">
                    <i class="power-icon icon-document-blank"></i> page-3.html
                </a>
                <a class="power-list" data-power-target="item2">
                    <span class="power-status power-icon" data-power-active="icon-folder-open" data-power-inactive="icon-folder-close"></span> editor
                </a>
                <nav id="item2" class="power-tree-view">
                    <a class="power-item">
                        <i class="power-icon icon-document-blank"></i> menu.html
                    </a>
                    <a class="power-item">
                        <i class="power-icon icon-document-blank"></i> front-page.html
                    </a>
                    <a class="power-item">
                        <i class="power-icon icon-document-blank"></i> tabs.html
                    </a>
                </nav>
                <a class="power-item">
                    <i class="power-icon icon-document-blank"></i> zendex.html
                </a>
            </nav>
            <a class="power-list" data-power-target="item3">
                <span class="power-status power-icon" data-power-active="icon-folder-open" data-power-inactive="icon-folder-close"></span> scripts
            </a>
            <nav id="item3" class="power-tree-view">
                <a class="power-item">
                    <i class="power-icon icon-document-blank"></i> menu.js
                </a>
                <a class="power-item">
                    <i class="power-icon icon-document-blank"></i> front-page.js
                </a>
                <a class="power-item">
                    <i class="power-icon icon-document-blank"></i> main.js
                </a>
            </nav>
        </nav>
        <nav class="power-tree-view col">
            <a class="power-item"><i class="power-icon icon-document-blank"></i> index.html</a>
            <a class="power-item">
                <i class="power-icon icon-document-blank"></i> index.js
            </a>
            <a class="power-item">
                <i class="power-icon icon-document-blank"></i> index.css
            </a>
            <a class="power-list" data-power-target="item12">
               <span class="power-status power-icon" data-power-active="icon-folder-open" data-power-inactive="icon-folder-close"></span> templates
            </a>
            <nav id="item12" class="power-tree-view">
                <a class="power-item">
                    <i class="power-icon icon-document-blank"></i> page-1.html
                </a>
                <a class="power-item">
                    <i class="power-icon icon-document-blank"></i> page-2.html
                </a>
                <a class="power-item">
                    <i class="power-icon icon-document-blank"></i> page-3.html
                </a>
                <a class="power-list" data-power-target="item22">
                    <span class="power-status power-icon" data-power-active="icon-folder-open" data-power-inactive="icon-folder-close"></span> editor
                </a>
                <nav id="item22" class="power-tree-view">
                    <a class="power-item">
                        <i class="power-icon icon-document-blank"></i> menu.html
                    </a>
                    <a class="power-item">
                        <i class="power-icon icon-document-blank"></i> front-page.html
                    </a>
                    <a class="power-item">
                        <i class="power-icon icon-document-blank"></i> tabs.html
                    </a>
                </nav>
                <a class="power-item">
                    <i class="power-icon icon-document-blank"></i> zendex.html
                </a>
            </nav>
            <a class="power-list" data-power-target="item32">
                <span class="power-status power-icon" data-power-active="icon-folder-open" data-power-inactive="icon-folder-close"></span> scripts
            </a>
            <nav id="item32" class="power-tree-view">
                <a class="power-item">
                    <i class="power-icon icon-document-blank"></i> menu.js
                </a>
                <a class="power-item">
                    <i class="power-icon icon-document-blank"></i> front-page.js
                </a>
                <a class="power-item">
                    <i class="power-icon icon-document-blank"></i> main.js
                </a>
            </nav>
        </nav>
        <nav class="power-tree-view col">
            <a class="power-item"><i class="power-icon icon-document-blank"></i> index.html</a>
            <a class="power-item">
                <i class="power-icon icon-document-blank"></i> index.js
            </a>
            <a class="power-item">
                <i class="power-icon icon-document-blank"></i> index.css
            </a>
            <a class="power-list" data-power-target="item13">
               <span class="power-status power-icon" data-power-active="icon-folder-open" data-power-inactive="icon-folder-close"></span> templates
            </a>
            <nav id="item13" class="power-tree-view">
                <a class="power-item">
                    <i class="power-icon icon-document-blank"></i> page-1.html
                </a>
                <a class="power-item">
                    <i class="power-icon icon-document-blank"></i> page-2.html
                </a>
                <a class="power-item">
                    <i class="power-icon icon-document-blank"></i> page-3.html
                </a>
                <a class="power-list" data-power-target="item23">
                    <span class="power-status power-icon" data-power-active="icon-folder-open" data-power-inactive="icon-folder-close"></span> editor
                </a>
                <nav id="item23" class="power-tree-view">
                    <a class="power-item">
                        <i class="power-icon icon-document-blank"></i> menu.html
                    </a>
                    <a class="power-item">
                        <i class="power-icon icon-document-blank"></i> front-page.html
                    </a>
                    <a class="power-item">
                        <i class="power-icon icon-document-blank"></i> tabs.html
                    </a>
                </nav>
                <a class="power-item">
                    <i class="power-icon icon-document-blank"></i> zendex.html
                </a>
            </nav>
            <a class="power-list" data-power-target="item33">
                <span class="power-status power-icon" data-power-active="icon-folder-open" data-power-inactive="icon-folder-close"></span> scripts
            </a>
            <nav id="item33" class="power-tree-view">
                <a class="power-item">
                    <i class="power-icon icon-document-blank"></i> menu.js
                </a>
                <a class="power-item">
                    <i class="power-icon icon-document-blank"></i> front-page.js
                </a>
                <a class="power-item">
                    <i class="power-icon icon-document-blank"></i> main.js
                </a>
            </nav>
        </nav>
    </div>
    <div class="grid-flex cols-12">
        <div>Coluna 1</div>
        <div>Coluna 2</div>
        <div>Coluna 3</div>
        <div>Coluna 4</div>
        <div>Coluna 5</div>
        <div>Coluna 6</div>
        <div>Coluna 7</div>
        <div>Coluna 8</div>
        <div>Coluna 9</div>
        <div>Coluna 10</div>
        <div>Coluna 11</div>
        <div>Coluna 12</div>
    </div>
    </p>
    <button class="pw-btn-default" data-pow-event onclick="refresh()">Refresh</button>
    <button class="pw-btn-default" data-pow-event onclick="closeCurrentRoute()">Close</button>
</div>
