body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body, html {
  height: 100%;
}
#app-container {
    height: 100%;
    overflow: auto;
}
.window-is-maximized #app-container {
    overflow: hidden;
}

/* Anime dialogs fade in*/
/*.pw-dialog-container {
    animation: pw-window 0.5s ease-in-out;
}

@keyframes pw-window {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}*/

.window-is-maximized .pw-small-window-mode .pw-window .pw-bar-fixed,
.window-is-maximized .pw-window .pw-bar-fixed.pw-ignore,
.pw-small-window-mode .pw-window .pw-bar-fixed.pw-ignore {
    visibility: hidden;
    /*display: none;*/
}

/* Dropdown */
.power-dropmenu, .power-dropmenu.power-active > .power-dropmenu {
    display: none !important;
}

.power-hide {
    visibility: hidden !important;
}
@media screen and (max-width: 768px) {
    .power-dropmenu > .power-dropmenu.power-active {
        margin-left: 0 !important;
        position: relative;
    }
}

/* power menu-break query*/
    .pw-bar-break .power-dropmenu > .power-dropmenu.power-active {
        margin-left: 0 !important;
        position: relative;
    }
/* power menu-break query*/

/* Dropdown end */
/* Menu */
.pw-bar.pw-horizontal > *,
.pw-bar.pw-vertical > * {
    display: inline-block;
}
.pw-bar.pw-vertical > .power-action, .pw-bar.pw-vertical > .power-item, .pw-bar.pw-vertical > .power-brand {
    display: block;
}
.pw-bar.pw-vertical {
    display: inline-block;
}
.power-active > .power-item, .power-active > .power-action, .power-active > .power-brand {
    display: block;
}

.pw-bar.pw-horizontal.pw-colapse .power-toggle,
.pw-bar.pw-vertical.pw-colapse .power-toggle,
.pw-bar.pw-icons-bar .power-toggle {
    display: none;
}
.pw-bar.pw-icons-bar.pw-show-toggle.pw-horizontal > .power-toggle {
    display: block;
    margin-right: 0.25em;
    margin-left: auto;
}
.pw-bar.pw-icons-bar.pw-show-toggle.pw-vertical > .power-toggle {
    display: block;
    margin-bottom: 0.25em;
}

.pw-bar.pw-icons-bar.pw-horizontal, .pw-bar.pw-icons-bar.pw-horizontal.pw-show-toggle {
    display: flex;
    align-items: center;
}
.pw-bar.pw-icons-bar.pw-vertical, .pw-bar.pw-icons-bar.pw-vertical.pw-show-toggle {
    display: block;
}

.pw-bar.pw-icons-bar.pw-show-toggle.power-active.pw-vertical > .power-item,
.pw-bar.pw-icons-bar.pw-show-toggle.power-active.pw-vertical > .power-action {
    display: inline-block;
}

.pw-bar.pw-icons-bar.pw-show-toggle.power-active {
    display: block;
    justify-content: initial;
}

.pw-bar.pw-icons-bar.pw-show-toggle.power-active > .power-toggle {
    display: none;
}

.pw-bar.pw-icons-bar.pw-show-toggle.power-active.pw-horizontal > .power-item,
.pw-bar.pw-icons-bar.pw-show-toggle.power-active.pw-horizontal > .power-action {
    display: inline-block;
}

.pw-bar.pw-icons-bar.pw-show-toggle > .power-item:not(.pw-force-show),
.pw-bar.pw-icons-bar.pw-show-toggle > .power-action:not(.pw-force-show) {
    visibility: hidden;
    /*display: none;*/
}
.pw-mirrored .power-dropmenu, .pw-bar.pw-mirrored {
    text-align: right;
}

.power-dropmenu.power-active, .power-dropmenu.power-active > .power-dropmenu.power-active {
    display: block !important;
    white-space: nowrap;
    position: absolute;
}

/* start power tree view */
.power-tree-view .power-tree-view {
    padding-left: 1em;
}
.power-tree-view, .power-tree-view .power-item, .power-tree-view .power-tree-view, .power-tree-view .power-list {
    display: block;
    cursor: pointer;
}
.power-tree-view .power-tree-view {
    display: none;
}
.power-tree-view .power-tree-view.power-active {
    display: block;
}

/* end power tree view*/

/*.pw-bar.pw-horizontal {
    display: flex;
    align-items: center;
    /*min-height: 40px;*/
}*/

/* toolbar pw-icons-bar */
.pw-bar.pw-icons-bar {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .pw-bar.pw-horizontal.pw-colapse.power-active .power-action,
    .pw-bar.pw-horizontal.pw-colapse.power-active .power-item,
    .pw-bar.pw-vertical.pw-colapse.power-active .power-action,
    .pw-bar.pw-vertical.pw-colapse.power-active .power-item  {
        display: block;
        width: max-content;
    }

   .pw-bar.pw-horizontal.pw-colapse.power-active .power-dropmenu .power-action,
   .pw-bar.pw-horizontal.pw-colapse.power-active .power-dropmenu .power-item,
   .pw-bar.pw-vertical.pw-colapse.power-active .power-dropmenu .power-action,
   .pw-bar.pw-vertical.pw-colapse.power-active .power-dropmenu .power-item  {
       display: block;
       width: initial;
   }

    .pw-bar.pw-horizontal.pw-colapse .power-action,
    .pw-bar.pw-horizontal.pw-colapse .power-item,
    .pw-bar.pw-vertical.pw-colapse .power-action,
    .pw-bar.pw-vertical.pw-colapse .power-item {
        display: none;
    }

    .pw-bar.pw-horizontal.pw-colapse {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .pw-bar.pw-vertical.pw-colapse {
        display: flex;
        justify-content: space-between;
        align-items: top;
    }


    .pw-bar.pw-horizontal.pw-colapse.power-active,
    .pw-bar.pw-vertical.pw-colapse.power-active {
        display: block;
        justify-content: initial;
    }

    .pw-bar.pw-horizontal.pw-colapse .power-toggle,
    .pw-bar.pw-vertical.pw-colapse .power-toggle {
        display: inline-block;
        text-align: right;
    }

    .pw-bar.pw-vertical.pw-colapse.power-active .power-brand {
        display: block;
    }

    .pw-bar.pw-vertical.pw-colapse .power-brand {
        display: none;
    }

    .pw-bar.pw-horizontal.pw-colapse.power-active .power-toggle,
    .pw-bar.pw-vertical.pw-colapse.power-active .power-toggle {
        display: none;
    }
}
/* power menu-break query*/
    .pw-bar-break .pw-bar.pw-horizontal.pw-colapse.power-active:not(.pw-bar-fixed) .power-action,
    .pw-bar-break .pw-bar.pw-horizontal.pw-colapse.power-active:not(.pw-bar-fixed) .power-item,
    .pw-bar-break .pw-bar.pw-vertical.pw-colapse.power-active:not(.pw-bar-fixed) .power-action,
    .pw-bar-break .pw-bar.pw-vertical.pw-colapse.power-active:not(.pw-bar-fixed) .power-brand,
    .pw-bar-break .pw-bar.pw-vertical.pw-colapse.power-active:not(.pw-bar-fixed) .power-item {
        display: block;
        width: max-content;
    }

    .pw-bar-break .pw-bar.pw-horizontal.pw-colapse.power-active:not(.pw-bar-fixed) .power-dropmenu .power-action,
    .pw-bar-break .pw-bar.pw-horizontal.pw-colapse.power-active:not(.pw-bar-fixed) .power-dropmenu .power-item,
    .pw-bar-break .pw-bar.pw-vertical.pw-colapse.power-active:not(.pw-bar-fixed) .power-dropmenu .power-action,
    .pw-bar-break .pw-bar.pw-vertical.pw-colapse.power-active:not(.pw-bar-fixed) .power-dropmenu .power-item {
        display: block;
        width: initial;
    }

    .pw-bar-break .pw-bar.pw-horizontal.pw-colapse:not(.pw-bar-fixed) .power-action,
    .pw-bar-break .pw-bar.pw-horizontal.pw-colapse:not(.pw-bar-fixed) .power-item,
    .pw-bar-break .pw-bar.pw-vertical.pw-colapse:not(.pw-bar-fixed) .power-action,
    .pw-bar-break .pw-bar.pw-vertical.pw-colapse:not(.pw-bar-fixed) .power-brand,
    .pw-bar-break .pw-bar.pw-vertical.pw-colapse:not(.pw-bar-fixed) .power-item {
        display: none;
    }

    .pw-bar-break .pw-bar.pw-horizontal.pw-colapse:not(.pw-bar-fixed) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .pw-bar-break .pw-bar.pw-vertical.pw-colapse:not(.pw-bar-fixed) {
        display: flex;
        justify-content: space-between;
        align-items: top;
    }


    .pw-bar-break .pw-bar.pw-horizontal.pw-colapse.power-active:not(.pw-bar-fixed),
    .pw-bar-break .pw-bar.pw-vertical.pw-colapse.power-active:not(.pw-bar-fixed) {
        display: block;
        justify-content: initial;
    }

    .pw-bar-break .pw-bar.pw-horizontal.pw-colapse:not(.pw-bar-fixed) .power-toggle,
    .pw-bar-break .pw-bar.pw-vertical.pw-colapse:not(.pw-bar-fixed) .power-toggle {
        display: inline-block;
        text-align: right;
    }

    .pw-bar-break .pw-bar.pw-horizontal.pw-colapse.power-active:not(.pw-bar-fixed) .power-toggle,
    .pw-bar-break .pw-bar.pw-vertical.pw-colapse.power-active:not(.pw-bar-fixed) .power-toggle {
        display: none;
    }
/* power menu-break query*/

.pw-bar-fixed,
.pw-bar-window-fixed {
    position: fixed;
}

.pw-bar.pw-bar-fixed.pw-top {
    top: 0;
    left: 0;
}
.pw-bar.pw-bar-fixed.pw-bottom {
    bottom: 0;
    left: 0;
    margin: 0;
}
.pw-bar.pw-bar-fixed.pw-left {
    top: 0;
    left: 0;
    margin: 0;
    width: auto;
    height: 100vh;
}
.pw-bar.pw-bar-fixed.pw-right {
    top: 0;
    right: 0;
    margin: 0;
    width: auto;
    height: 100vh;
}

.pw-bar.pw-menu-float {
    width: auto;
}
.pw-bar.pw-menu-float.pw-left {
    float: left;
}
.pw-bar.pw-menu-float.pw-right {
    float: right;
}
/* Menu end*/

/* Dialog-Modal-Window start */
.pw-body iframe {
    margin: 0;
    z-index: 1;
    overflow: hidden;
}
.pw-cover-iframe {
    position: absolute;
    top: 0;
    z-index: 1001;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
}
.pw-active .pw-cover-iframe {
    display: none;
}
.pw-modal .pw-body, .pw-dialog .pw-body {
    position: relative;
    overflow: auto;
    max-height: 90vh;
}
.pw-backdrop {
    z-index: 1000;
}
.pw-backdrop {
    position: fixed;
}
.pw-backdrop {
    padding: 1em 0 0 0;
    text-align: center;
    width: 100%;
    height: 100vh;
}
.pw-backdrop {
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.5);
}
.pw-dialog {
    top: 0;
    left: 0;
    padding-top: 20vh;
    z-index: 2501;
}
.pw-order {
    z-index: 4000 !important;
}

.window-left-top {
    cursor: nwse-resize;
}
.window-left-bottom {
    cursor: nesw-resize;
}
.window-width {
    cursor: ew-resize;
}
.window-height {
    cursor: ns-resize;
}
.pw-window  {
    position: fixed;
    top: 10px;
    left: 10px;
    /*padding: 5px;*/
    z-index: 1001;
    background-color: #000000;
    /*overflow: hidden;*/
}
.pw-window.pw-touchdevice,
.pw-small-window-mode .pw-window {
    top: 0;
    left: 0;
}
.pw-window .pw-body:not(.pw-body-iframe) {
    overflow: auto;
}
.pw-window, .pw-window .pw-body, .pw-window .pw-body iframe {
    max-width: 100%;
    max-height: 100vh;
}

.pw-window {
    min-width: 250px;
    min-height: 100px;
}

.pw-small-window-mode .pw-window {
    min-width: 150px;
}

.pw-window .pw-title-bar, .pw-window .pw-body, .pw-window iframe {
    min-width: 100%;
    max-width: 100%;
}
.pw-title-bar .pw-title-bar-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 60%;
}
.pw-window.pw-touchdevice .pw-body,
.pw-small-window-mode .pw-window .pw-body {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    max-width: 100%;
    max-height: 100vh;
}

.pw-window .pw-title-bar {
    cursor: grabbing;
    text-align: center;
    white-space: nowrap;
}
.window-is-maximized .pw-window .pw-title-bar, .pw-small-window-mode .pw-window .pw-title-bar {
    cursor: default;
}
.pw-modal .pw-body, .pw-modal .pw-title-bar {
    margin: 0 auto;
    width: 80%;
    max-width: 95vw;
}

.pw-modal.pw-touchdevice .pw-body,
.pw-modal.pw-touchdevice .pw-title-bar,
.pw-small-window-mode .pw-modal .pw-body,
.pw-small-window-mode .pw-modal .pw-title-bar {
    width: 95%;
    max-width: 100%;
}
.pw-dialog .pw-body, .pw-dialog .pw-title-bar {
    margin: 0 auto;
    width: 50em;
    max-width: 95%;
}
.pw-modal .pw-body, .pw-modal .pw-title-bar, .pw-dialog .pw-body, .pw-dialog .pw-title-bar, .pw-window {
    box-shadow: 5px 5px 10px 0 rgb(0, 0, 0, 0.5);
}

body.modal-open, body.window-is-maximized {
    overflow: hidden;
}
/* dialog-Modal-Window end */

/* Start All dialogs */
.pw-title-bar {
    /*min-height: 3em;*/
    background-color: rgb(0, 0, 0, 1);
}
.pw-title-bar-label {
    display: inline-block;
    color: #FFF;
    font-weight: bold;
    margin-right: -2rem; /* compensate the X close button */
}
.pw-container {
    margin: 1em;
}

/* End All dialogs */

/* buttons start*/
.pw-btn-default, .pw-btn-highlight, .pw-btn-danger, .pw-btn-primary, .pw-btn-warning, .pw-btn-secundary, .pw-btn-success, .pw-btn-basic {
    border: none;
    cursor: pointer;
}
.pw-bar button.pw-btn-default, .pw-bar button.pw-btn-highlight, .pw-bar button.pw-btn-danger, .pw-bar button.pw-btn-primary, .pw-bar button.pw-btn-warning, .pw-bar button.pw-btn-secundary, .pw-bar button.pw-btn-success, .pw-bar button.pw-btn-basic {
    margin-top: 0;
    vertical-align: middle;
}
.pw-bar .power-action.pw-btn-default, .pw-bar .power-action.pw-btn-highlight, .pw-bar .power-action.pw-btn-danger, .pw-bar .power-action.pw-btn-primary, .pw-bar .power-action.pw-btn-warning, .pw-bar .power-action.pw-btn-secundary, .pw-bar .power-action.pw-btn-success, .pw-bar .power-action.pw-btn-basic {
    margin-top: 0;
    vertical-align: middle;
}
.pw-btn-default span, .pw-btn-highlight span, .pw-btn-danger span, .pw-btn-primary span, .pw-btn-warning span, .pw-btn-secundary span,  .pw-btn-success span, .pw-btn-basic span, .power-accordion .power-action span {
    display: inline-block;
    vertical-align: middle;
}
/* TODO: Remove after replace with pw-bt-dialog-title */
.pw-bt-close {
    float: right;
    cursor: pointer;
}
.pw-bt-dialog-title {
    float: right;
    cursor: pointer;
}
/* buttons end*/

/* start spinner */
.pw-spinner-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 4001;
    background-color: rgb(0, 0, 0, 0.7);
}
.pw-spinner, p.pw-spinner-label {
    position: relative;
    top: 43vh;
}
.pw-spinner {
    margin: -115px auto;
    border: 16px solid #000;
    border-radius: 50%;
    border-top: 16px solid #f3f3f3;
    border-bottom: 16px solid #f3f3f3;
    width: 130px;
    height: 130px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 4002;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

p.pw-spinner-label {
    font-family: Verdana, Arial, "Courier New", "san-serif";
    margin-left: 0.2em;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 2s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    z-index: 4003;
}

@keyframes animate {
  100% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
/* end spinner */

/* simple-form css start*/

.pw-simple-form.pw-vertical-form input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="reset"]):not([type="image"]),
.pw-simple-form.pw-vertical-form select,
.pw-simple-form.pw-vertical-form textarea {
    display: block;
}
.pw-simple-form .pw-field-container .pw-control-helper {
    display: none;
}

.pw-simple-form .pw-field-container.pw-has-error .pw-control-helper {
    display: block;
}

/* simple-form css end*/
