/* Dropdown */

.power-dropmenu, .power-dropmenu.power-active > .power-dropmenu {
    display: none !important;
}

.power-hide {
    visibility: hidden !important;
}
@media screen and (max-width: 800px) {
    .power-dropmenu > .power-dropmenu.power-active {
        margin-left: 0 !important;
        position: relative;
    }
}
/* Dropdown end */
/* Menu */
.power-menu.power-horizontal > * {
    display: inline-block;
}

.power-active > .power-item, .power-active > .power-action, .power-active > .power-brand {
    display: block !important;
}

.power-menu.power-horizontal .power-toggle {
    display: none;
}

.power-dropmenu.power-active, .power-dropmenu.power-active > .power-dropmenu.power-active {
    display: block !important;
    white-space:nowrap;
    border-style: solid;
    border-width: 1px;
    position: absolute;
}

@media screen and (max-width: 800px) {
    .power-menu.power-horizontal .power-action, .power-menu.power-horizontal .power-item {
        display: none;
    }

    .power-menu.power-horizontal {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .power-menu.power-horizontal.power-active {
        display: block;
        justify-content: initial;
    }

    .power-menu.power-horizontal .power-toggle {
        display: inline-block;
        text-align: right;
    }

    .power-menu.power-horizontal.power-active .power-toggle {
        display: none !important;
    }
}
.power-menu-fixed {
    position: fixed;
}
/* Menu end*/

/* Modal start */
.pw-modal .pw-window {
    position: relative;
    background-color: #F5F5F5;
    max-height: 90vh;
    overflow:auto;
    box-shadow: 5px 5px 20px 0 black;
}
.pw-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1em 0 0 0;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.7);
    z-index: 1001;
}
.pw-modal .pw-window, .pw-modal .pw-title-bar {
    margin: 0 auto;
    width: 100%;
    width: 80%;
    max-width: 95vw;
}

body.modal-open {
    overflow: hidden;
}
/* Modal end */

/* Start All dialogs */
.pw-title-bar {
    min-height: 3em;
    background-color: rgb(0, 0, 0, 1);
}
.pw-title-bar-label {
    margin-top: .7em;
    display: inline-block;
    color: #FFF;
    font-weight: bold;
    margin-right: -2rem; /* compensate the X close button */
}
.pw-container {
    margin: 1em;
}

/* End All dialogs */

/* buttons start*/
.pw-btn-default {
    margin-top: 1em;
    background-color: black;
    color: #FFF;
    border: none;
    font-weight: bold;
    padding: 1em;
    cursor: pointer;
}
.pw-bt-close.fa.fa-times {
    color: #FFF;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: .5em;
    margin-right: .8rem;
    float: right;
    cursor: pointer;
}
/* buttons end*/
