/* Power tabs */
.power-tabs {
    display: grid;
    grid-gap: 0;
}
.power-tabs .power-action {
    order: 1;
}
.power-tabs .power-action.power-active {
    order: 2;
}
.power-tabs .power-tab-section {
    order: 3;
}

@media (min-width: 300px) and (max-width: 600px) {
    .power-tabs {
        grid-template-columns: repeat(2, 1fr);
    }

    .power-tabs .power-tab-section {
        grid-column: span 2;
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    .power-tabs  {
        grid-template-columns: repeat(4, 1fr);
    }

    .power-tabs .power-tab-section {
        grid-column: span 4;
    }
}

@media (min-width: 900px) and (max-width: 1200px) {
    .power-tabs  {
        grid-template-columns: repeat(6, 1fr);
    }

    .power-tabs .power-tab-section {
        grid-column: span 6;
    }
}

@media (min-width: 1200px) {
    .power-tabs {
        grid-template-columns: repeat(8, 1fr);
    }

    .power-tabs .power-tab-section {
        grid-column: span 8;
    }
}

@media (min-width: 1500px) {
    .power-tabs {
        grid-template-columns: repeat(10, 1fr);
    }

    .power-tabs .power-tab-section {
        grid-column: span 10;
    }
}
